@use "../../scss/variables" as *;

.contact-section {
    height: 50vh;

    &__text {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 4.5rem;

        &--link {
            text-decoration: underline;
            transition: .4s;

            &:hover {
                color: $text-color--hover;
            }
        }
    }
}