@use "../../scss/variables" as *;
@use '../../scss/mixins' as *;

.contact-section {
    margin-bottom: 25vh;

    @include small-phone {
        margin-bottom: 20vh;
    }

    @include phone {
        margin-bottom: 20vh;
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 4rem;

        @include small-phone {
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 5vh;
        }

        @include phone {
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: 5vh;
        }

        @include tablet {
            line-height: 2.8rem;
            margin-bottom: 5vh;
        }

        &--link {
            text-decoration: underline;
            transition: .4s;

            &:hover {
                color: $text-color--hover;
            }
        }
    }
}