@use "../../scss/variables" as *;

.about-page {
    padding: 25vh 15vw 10vh;

    h4 {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    &__heading {
        font-size: 2.7rem;
        font-family: $secondary-font;
        margin: 5vh 0;
    }

    &__content {
        font-size: 1.5rem;
        line-height: 1.5;

        &--link {
            font-style: oblique;
            text-decoration: underline;
        }
    }

    &__subheading {
        font-size: 2.3rem;
        margin: 5vh 0;
        padding: .6rem 0;
        border-bottom: 1px solid $border-color;
    }

    &__skills {
        display: grid;
        justify-items: stretch;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        list-style-type: none;

        li {
            font-size: 1.2rem;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.041);
            border-radius: 10px;
            padding: .4rem .6rem;
        }
    }

    &__section {
        margin: 20vh 0;

        p {
            font-size: 1.2rem;
        }
    }
    
}