@use "../../scss/variables" as *;

.about-page {
    padding: 20vh 20vw;

    &__heading {
        font-size: 2.7rem;
        font-family: $secondary-font;
        margin: 5vh 0;
    }

    &__content {
        font-size: 1.5rem;
        line-height: 1.5;

        &--link {
            font-style: oblique;
            text-decoration: underline;
        }
    }

    &__subheading {
        font-size: 2.3rem;
        margin: 5vh 0;
    }

    &__subheading-content {
        font-size: 1.3rem;
        line-height: 1.5;
        font-style: oblique;
    }
}