@use "../../scss/variables" as *;

.button {
    background-color: $background;
    color: $text-color;
    border: 1px solid $border-color;
    font-size: .9rem;
    text-transform: uppercase;
    padding: 1.5rem;
}