@use "../../scss/variables" as *;

.project-card {

    border-bottom: 1px solid $border-color;

    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        padding: .6rem 0;
    }

    &__img-container {
        background-color: $background;
        opacity: 85%;
        margin-bottom: 10px;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        transition: transform 1.5s, filter 1.5s ease-in-out;
        transform-origin: center center;
        filter: brightness(50%);

        &:hover {
            filter: brightness(100%);
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}