@use "../../scss/variables" as *;
@use '../../scss/mixins' as *;

.project-card {
    border-bottom: 1px solid $border-color;
    padding: 2.5rem 0;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;

    &:hover {
        background-color: $text-color;
        color: $background;
    }

    @include small-phone {
        padding: 1.2rem 0;
    }

    @include phone {
        padding: 1.4rem 0;
    }

    &__title {
        font-size: 3rem;
        font-family: $primary-font;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;

        @include small-phone {
            font-size: 1.8rem;
        }

        @include phone {
            font-size: 2rem;
        }
    }

}