@use "../../scss/variables" as *;
@use '../../scss/mixins' as *;

.project-card {
    border-bottom: 1px solid $border-color;
    padding: 2.5rem 0;
    position: relative;
    overflow: hidden;

    @include small-phone {
        padding: 1.2rem 0;
    }

    @include phone {
        padding: 1.4rem 0;
    }

    &__title {
        font-size: 3rem;
        font-family: $primary-font;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;

        @include small-phone {
            font-size: 1.8rem;
        }

        @include phone {
            font-size: 2rem;
        }
    }

    &__img-container {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: auto;
        width: 100%;
        transition: filter 1s ease-in;
        filter: opacity(0%);

        &:hover {
            background-color: $primary-color;
            filter: opacity(100%);
            cursor: pointer;
        }
    }
}