@use "../../scss/variables" as *;

.featured-projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 30vh;

    &__headline {
        font-size: 3rem;
        font-weight: 300;
        border-bottom: 1px solid $border-color;
        margin-bottom: 10vh;
        padding-bottom: .8rem;
    }

    button, a {
        align-self: center;
    }
}

.featured-projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 5vw;
    margin-bottom: 10vh;
}