@use "../../scss/variables" as *;
@use '../../scss/mixins' as *;

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: $background;

    &__headline {
        position: absolute;
        bottom: 7vh;
        left: 0;
        z-index: 11;
        font-size: 6.5rem;
        font-family: $primary-font;
        color: $primary-color;
        mix-blend-mode: difference;

        @include small-phone {
            font-size: 3rem;
        }

        @include phone {
            font-size: 4rem;
        }
    }

    &__title {
        line-height: 110%;

        &--italic {
            font-family: $secondary-font;
            font-style: italic;
            font-size: 7.7rem;
            letter-spacing: .1rem;

            @include small-phone {
                font-size: 3.5rem;
            }

            @include phone {
                font-size: 4.5rem;
            }
        }
    }

    &__scroll-down {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @include small-phone {
            display: none;
        }

        @include phone {
            display: none;
        }

        @include tablet {
            display: none;
        }

        &--p {
            text-transform: uppercase;
            font-size: .75rem;
            color: rgba(255, 255, 255, 0.150);
            transform: rotate(90deg);
        }

        &--bar {
            border-left: 1px solid rgba(255, 255, 255, 0.150);
            height: 30px;
        }
    }
}