@use "../../scss/variables" as *;

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: $background;

    h1 {
        position: absolute;
        bottom: 10vh;
        left: 0;
        z-index: 11;
        font-size: 6.5rem;
        font-family: $primary-font;
        color: $primary-color;
        mix-blend-mode: difference;
    }

    &__title {
        
        line-height: 110%;

        &--italic {
            font-family: $secondary-font;
            font-style: italic;
            font-size: 8.5rem;
        }
    }

    &__scroll-down {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        &--p {
            text-transform: uppercase;
            font-size: .75rem;
            color: rgba(255, 255, 255, 0.150);
            transform: rotate(90deg);
        }

        &--bar {
            border-left: 1px solid rgba(255, 255, 255, 0.150);
            height: 30px;
        }
    }
}