@use "../../scss/variables" as *;

.projects-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 30vh;

    &__headline {
        align-self: center;
        margin-top: 30vh;
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        font-family: $primary-font;
    }

    &__cta {
        font-size: 1.5rem;
        line-height: 1.5;
        align-self: center;
        text-align: center;
        padding-top: 15vh;

        a {
            text-decoration: underline;
            font-style: oblique;
        }
    }
}

.projects-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    margin: 20vh 0 10vh 0;
}