@use "../../scss/variables" as *;

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 35vh 0;
    text-align: left;
    text-transform: uppercase;
    gap: 2.5rem;
    width: 70%;

    &__text {
        font-size: 1.8rem;
        line-height: 1.5;
    }
}