@use "./scss/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    color: $text-color;
    font-size: 16px;
    font-family: $primary-font;

    a, a:active {
        color: $text-color;
        text-decoration: none;
        transition: .4s;

        &:hover {
            color: $text-color--hover;
        }
    }
}

.App {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}