//FONT FAMILY
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Libre Baskerville', serif;

//COLORS
$background: rgb(23, 24, 28);
$border-color: rgba(255, 255, 255, 0.10);
$text-color: rgba(186, 220, 255, 0.85);
$primary-color: rgb(186, 220, 255);
$text-color--hover: rgb(210, 232, 255);