//FONT FAMILY
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Cormorant', serif;

//COLORS
$background: #121212;
$border-color: rgba(255, 255, 255, 0.10);
$text-color: rgba(186, 220, 255, 0.85);
$text-color--hover: rgba(186, 220, 255);